*{
    box-sizing: border-box;
    margin: 0;
}

#logo{
    width: 150px;
}
header{
    display: flex;
    align-items: center;
    background-color: rgb(124, 124, 124);
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 25px;
}